<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.lhh.appservermaster.dao.NoticeDao" > <!-- 项目的dao层 -->
    <resultMap id="BaseResultMap" type="com.lhh.appservermaster.domain.Notice" > <!-- 实体类 -->
        <id column="noticeId" property="noticeId" jdbcType="INTEGER" />            <!-- 列名映射 -->
        <result column="noticeTitle" property="noticeTitle" jdbcType="VARCHAR" />
        <result column="noticeContent" property="noticeContent" jdbcType="VARCHAR" />
        <result column="noticeFile" property="noticeFile" jdbcType="VARCHAR" />
        <result column="publishDate" property="publishDate" jdbcType="VARCHAR" />
    </resultMap>
    
    <sql id="Base_Column_List" >
        noticeId, noticeTitle, noticeContent, noticeFile, publishDate
    </sql>

    <!-- 获取所有通知信息 -->
    <select id="getAll" resultMap="BaseResultMap"  >
       SELECT 
       <include refid="Base_Column_List" />
	   FROM notice
    </select>

    <!-- 插入一条通知信息 -->
    <insert id="addNotice" parameterType="com.lhh.appservermaster.domain.Notice">
        insert into notice
        (
          noticeTitle, noticeContent, noticeFile, publishDate
        )
        VALUES
        (
          #{notice.noticeTitle,jdbcType=VARCHAR},
          #{notice.noticeContent,jdbcType=VARCHAR},
          #{notice.noticeFile,jdbcType=VARCHAR},
          #{notice.publishDate,jdbcType=VARCHAR}
        )

    </insert>

    <!-- 根据id查询通知信息 -->
    <select id="getNoticeByID" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from notice
        where noticeId = #{noticeId,jdbcType=INTEGER}
    </select>

    <!-- 根据id更新通知信息 -->
    <update id="updateNotice" parameterType="com.lhh.appservermaster.domain.Notice">
        update notice
        <set>
            <if test = "notice.noticeTitle != null">
                noticeTitle = #{notice.noticeTitle,jdbcType=VARCHAR},
            </if>

            <if test = "notice.noticeContent != null">
                noticeContent = #{notice.noticeContent,jdbcType=VARCHAR},
            </if>

            <if test = "notice.noticeFile != null">
                noticeFile = #{notice.noticeFile,jdbcType=VARCHAR},
            </if>

            <if test = "notice.publishDate != null">
                publishDate = #{notice.publishDate,jdbcType=VARCHAR},
            </if>
        </set>
        where noticeId = #{notice.noticeId,jdbcType=INTEGER}
    </update>

    <!-- 根据id删除通知信息 -->
    <delete id="deleteNoticeByID" parameterType="java.lang.Integer">
        delete from notice
        where noticeId = #{noticeId,jdbcType=INTEGER}
    </delete>
</mapper>