<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.buptcc.wechatapp.dao.OrderDao" > <!-- 项目的dao层 -->
    <resultMap id="BaseResultMap" type="com.buptcc.wechatapp.domain.Order" > <!-- 实体类 -->
        <id column="orderId" property="orderId" jdbcType="INTEGER" />            <!-- 列名映射 -->
        <result column="orderName" property="orderName" jdbcType="VARCHAR" />
        <result column="userId" property="userId" jdbcType="INTEGER" />
        <result column="expressCompanyName" property="expressCompanyName" jdbcType="VARCHAR" />
        <result column="expressCompanyAddress" property="expressCompanyAddress" jdbcType="VARCHAR" />
        <result column="receiveAddressId" property="receiveAddressId" jdbcType="INTEGER" />
        <result column="addTime" property="addTime" jdbcType="VARCHAR" />
        <result column="orderState" property="orderState" jdbcType="VARCHAR" />
        <result column="orderPay" property="orderPay" jdbcType="VARCHAR" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
        <result column="receiveCode" property="receiveCode" jdbcType="VARCHAR" />
        <result column="userPhone" property="userPhone" jdbcType="VARCHAR" />
        <result column="orderEvaluate" property="orderEvaluate" jdbcType="VARCHAR" />
        <result column="takeUserId" property="takeUserId" jdbcType="INTEGER" />
        <result column="score" property="score" jdbcType="VARCHAR" />
        <result column="orderType" property="orderType" jdbcType="VARCHAR" />
        <result column="orderPic" property="orderPic" jdbcType="VARCHAR" />

        <result column="receiveName" property="receiveName" jdbcType="VARCHAR" />
        <result column="receivePhone" property="receivePhone" jdbcType="VARCHAR" />
        <result column="receiveState" property="receiveState" jdbcType="VARCHAR" />
        <result column="receiveAddressName" property="receiveAddressName" jdbcType="VARCHAR" />

    </resultMap>

    <sql id="Base_Column_List" >
        orderId, orderName, userId, expressCompanyName, expressCompanyAddress, receiveAddressId, addTime, orderState, orderPay, remark, receiveCode, userPhone, orderEvaluate, takeUserId, score, orderType, orderPic, receiveName, receivePhone, receiveState, receiveAddressName
    </sql>

    <!-- 获取所有订单信息 -->
    <select id="getAll" resultMap="BaseResultMap"  >
       SELECT 
       <include refid="Base_Column_List" />
	   FROM orders
    </select>

    <!-- 插入一条订单信息 -->
    <insert id="addOrder" parameterType="com.buptcc.wechatapp.domain.Order">
        insert into orders
        (
          orderName, userId, expressCompanyName, expressCompanyAddress, receiveAddressId, addTime, orderState, orderPay, remark, receiveCode, userPhone, orderEvaluate, takeUserId, score, orderType, orderPic, receiveName, receivePhone, receiveState, receiveAddressName
        )
        VALUES
        (
          #{order.orderName,jdbcType=VARCHAR},
          #{order.userId,jdbcType=INTEGER},
          #{order.expressCompanyName,jdbcType=VARCHAR},
          #{order.expressCompanyAddress,jdbcType=VARCHAR},
          #{order.receiveAddressId,jdbcType=INTEGER},
          #{order.addTime,jdbcType=VARCHAR},
          #{order.orderState,jdbcType=VARCHAR},
          #{order.orderPay,jdbcType=VARCHAR},
          #{order.remark,jdbcType=VARCHAR},
          #{order.receiveCode,jdbcType=VARCHAR},
          #{order.userPhone,jdbcType=VARCHAR},
          #{order.orderEvaluate,jdbcType=VARCHAR},
          #{order.takeUserId,jdbcType=INTEGER},
          #{order.score,jdbcType=VARCHAR},
          #{order.orderType,jdbcType=VARCHAR},
          #{order.orderPic,jdbcType=VARCHAR},
          #{order.receiveName,jdbcType=VARCHAR},
          #{order.receivePhone,jdbcType=VARCHAR},
          #{order.receiveState,jdbcType=VARCHAR},
          #{order.receiveAddressName,jdbcType=VARCHAR}
        )

    </insert>

    <!-- 根据id查询订单信息 -->
    <select id="getOrderByID" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from orders
        where orderId = #{orderId,jdbcType=INTEGER}
    </select>

    <!-- 根据id更新订单信息 -->
    <update id="updateOrderInfoByID" parameterType="com.buptcc.wechatapp.domain.Order">
        update orders
        <set>
            <if test = "order.orderName != null">
                orderName = #{order.orderName,jdbcType=VARCHAR},
            </if>

            <if test = "order.userId != null">
                userId = #{order.userId,jdbcType=INTEGER},
            </if>

            <if test = "order.expressCompanyName != null">
                expressCompanyName = #{order.expressCompanyName,jdbcType=VARCHAR},
            </if>

            <if test = "order.expressCompanyAddress != null">
                expressCompanyAddress = #{order.expressCompanyAddress,jdbcType=VARCHAR},
            </if>

            <if test = "order.receiveAddressId != null">
                receiveAddressId = #{order.receiveAddressId,jdbcType=INTEGER},
            </if>

            <if test = "order.addTime != null">
                addTime = #{order.addTime,jdbcType=VARCHAR},
            </if>

            <if test = "order.orderState != null">
                orderState = #{order.orderState,jdbcType=VARCHAR},
            </if>

            <if test = "order.orderPay != null">
                orderPay = #{order.orderPay,jdbcType=VARCHAR},
            </if>

            <if test = "order.remark != null">
                remark = #{order.remark,jdbcType=VARCHAR},
            </if>

            <if test = "order.receiveCode != null">
                receiveCode = #{order.receiveCode,jdbcType=VARCHAR},
            </if>

            <if test = "order.userPhone != null">
                userPhone = #{order.userPhone,jdbcType=VARCHAR},
            </if>

            <if test = "order.orderEvaluate != null">
                orderEvaluate = #{order.orderEvaluate,jdbcType=VARCHAR},
            </if>

            <if test = "order.takeUserId != null">
                takeUserId = #{order.takeUserId,jdbcType=INTEGER},
            </if>

            <if test = "order.score != null">
                score = #{order.score,jdbcType=VARCHAR},
            </if>

            <if test = "order.orderType != null">
                orderType = #{order.orderType,jdbcType=VARCHAR},
            </if>

            <if test = "order.orderPic != null">
                orderPic = #{order.orderPic,jdbcType=VARCHAR},
            </if>

            <if test = "order.receiveName != null">
                receiveName = #{order.receiveName,jdbcType=VARCHAR},
            </if>
            <if test = "order.receivePhone != null">
                receivePhone = #{order.receivePhone,jdbcType=VARCHAR},
            </if>
            <if test = "order.receiveState != null">
                receiveState = #{order.receiveState,jdbcType=VARCHAR},
            </if>
            <if test = "order.receiveAddressName != null">
                receiveAddressName = #{order.receiveAddressName,jdbcType=VARCHAR},
            </if>

        </set>
        where orderId = #{order.orderId,jdbcType=INTEGER}
    </update>

    <!-- 根据id删除订单信息 -->
    <delete id="deleteOrderByID" parameterType="java.lang.Integer">
        delete from orders
        where orderId = #{orderId,jdbcType=INTEGER}
    </delete>

    <!-- 根据用户id查询订单 -->
    <select id="getOrdersByUserID" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List" />
        from orders
        where userId = #{userId,jdbcType=INTEGER}
    </select>

    <!-- 模糊查询订单n -->
    <select id="getOrdersByQuery" resultMap="BaseResultMap" parameterType="com.buptcc.wechatapp.domain.query.OrderQuery">
        SELECT
        <include refid="Base_Column_List" />
        FROM orders
        where orderName like CONCAT('%',#{orderQuery.orderName,jdbcType=VARCHAR},'%')
           or userId like CONCAT('%',#{orderQuery.userId,jdbcType=VARCHAR},'%')
           or receiveAddressId like CONCAT('%',#{orderQuery.receiveAddressId,jdbcType=VARCHAR},'%')
           or orderPay like CONCAT('%',#{orderQuery.orderPay,jdbcType=VARCHAR},'%')
           or addTime like CONCAT('%',#{orderQuery.addTime,jdbcType=VARCHAR},'%')
           or takeUserId like CONCAT('%',#{orderQuery.takeUserId,jdbcType=VARCHAR},'%')
           or orderState like CONCAT('%',#{orderQuery.orderState,jdbcType=VARCHAR},'%')

           or expressCompanyName like CONCAT('%',#{orderQuery.expressCompanyName,jdbcType=VARCHAR},'%')
           or expressCompanyAddress like CONCAT('%',#{orderQuery.expressCompanyAddress,jdbcType=VARCHAR},'%')
           or remark like CONCAT('%',#{orderQuery.remark,jdbcType=VARCHAR},'%')
           or receiveCode like CONCAT('%',#{orderQuery.receiveCode,jdbcType=VARCHAR},'%')
           or userPhone like CONCAT('%',#{orderQuery.userPhone,jdbcType=VARCHAR},'%')
           or orderEvaluate like CONCAT('%',#{orderQuery.orderEvaluate,jdbcType=VARCHAR},'%')

    </select>

    <!-- 根据代领人id查询订单 -->
    <select id="getOrdersByTakeUserID" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List" />
        from orders
        where takeUserId = #{takeUserId,jdbcType=INTEGER}
    </select>

    <!-- 根据订单状态查询 -->
    <select id="getOrdersByOrderState" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List" />
        from orders
        where orderState = #{orderState,jdbcType=VARCHAR}
    </select>

    <!-- 根据订单类型查询 -->
    <select id="getOrdersByOrderType" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List" />
        from orders
        where orderType = #{orderType,jdbcType=VARCHAR}
    </select>

</mapper>